.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;

}

.formContainer {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 60%;
    width: 50%;
    flex-direction: column;
    background-color: white;
    border: 1px solid LightSteelBlue;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.formGroup {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.formGroupBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.errorAge,
.errorUsername,
.error .inputSelect {
    width: 100%;
    color: firebrick;
    background-color: mistyrose;
    border: 1px solid firebrick;
    height: auto;
    border-radius: 4px;
    padding: 0.5rem;
}

.inputSkill {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid SteelBlue;
    border-radius: 4px;
    background-color: whitesmoke;
    color: darkblue;
}